body {
	background-color:#201c1c;
}
h1 {
	font-size:50px;
	text-align:center;
	color:Violet;
}
h2 {
	font-size:25px;
	text-align:left;
	color:Violet
}
h3 {
	font-size:25px;
	text-align:left;
	color:Violet
}
h4 {
	font-size:25px;
	text-align:left;
	color:Violet
}
h5 {
	font-size:25px;
	text-align:left;
	color:Violet
}
h6 {
	font-size:25px;
	text-align:left;
	color:Violet
}
h7 {
	font-size:25px;
	text-align:left;
	color:Violet
}
p {
	font-size:20px;
	color:DarkOrchid
}
a {
	font-size:20px;
	text-align:center;
	color:DarkOrchid;
  	padding: 10px;
}
{
box-sizing: border-box;
}

.column {
	float:	left;
	width: 33.33%;
	padding 10px;
}
.column50 {
	float:	left;
	width: 45%;
	padding 10px;
}
.column50r {
	float:	Right;
	width: 45%;
	padding 10px;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}
